@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

body {
	font-family: sans-serif;
	margin: 0;
	overflow: hidden;

	font-family: "Teko", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

#experience {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#blocker {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	z-index: 2;
}

#blocker__instructions {
	color: #ffffff;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-size: 14px;
	cursor: pointer;
}

#blocker.not-visible {
	visibility: hidden;
}

.player {
	position: absolute;
	bottom: 60px;
	left: 60px;
	z-index: 2;
}

.player__stuff {

}
.player_weapons {
	display: flex;
	color: white;
	gap: 8px;
}

.player_weapons .weapon__current {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(174, 174, 174, 0.2);
	border: 1px solid rgba(174, 174, 174, 0.4);
	gap: 28px;
	padding: 16px 24px;
	border-bottom: 2px solid white;
}

.weapon__current .weapon__bullet {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.weapon__bullet__count {
	font-size: 26px;
	line-height: 1;
}
.weapon__bullet_max::before {
	content: "/";
	font-size: 26px;
}
.weapon__bullet_max {
	font-size: 26px;
	line-height: 1;
}

.weapon {
	font-size: 32px;
	text-transform: uppercase;
}

.weapon__next {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(174, 174, 174, 0.2);
	padding: 16px 24px;
	text-transform: uppercase;
	font-size: 26px;
	border: 1px solid rgba(174, 174, 174, 0.4);
}

.player__health {
	margin-top: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 26px;
}

.player__health__icon {
	width: 44px;
	aspect-ratio: 1;
	display: grid;
	place-content: center;
	background-color: rgba(174, 174, 174, 0.2);
	border: 1px solid rgba(174, 174, 174, 0.4);
}


.player__health__bar {
	position: relative;
	width: 100%;
	height: 8px;
	background-color: rgba(174, 174, 174, 0.2);
	border: 1px solid rgba(174, 174, 174, 0.4);
	border-left: none;
}
.player__health__bar::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 14px;
	width: 80%;
	background-color: #ffffff;
}